{{!-- edit.hbs --}}
<form action="/edit/{{ record._id }}?_method=PUT" method="post" class="form-inline justify-content-center col-6">
  <div class="form-group row align-items-center">
    <label class="col-sm-2 col-form-label">*必填欄位</label>
    <div class="col-sm-10 align-items-center">
      <p class="text-center fw-bold fs-4">請修改你的支出</p>
    </div>
  </div>
  <div class="form-group row mb-5 align-items-center">
    <label for="name" class="col-sm-2 col-form-label fw-bold fs-4">名稱*:</label>
    <div class="col-sm-10">
      <input type="name" name="name" id="name" class="form-control" placeholder="輸入支出名稱" value="{{record.name}}"
        required>
    </div>
  </div>
  <div class="form-group row mb-5 align-items-center">
    <label for="date" class="col-sm-2 col-form-label fw-bold fs-4">日期*:</label>
    <div class="col-sm-10">
      <input type="date" name="date" id="date" class="form-control" value="{{record.date}}" required>
    </div>
  </div>
  <div class="form-group row mb-5 align-items-center">
    <label for="category" class="col-sm-2 col-form-label fw-bold fs-4">類別*:</label>
    <div class="col-sm-10">
      <select name="category" id="category" class="form-control form-select" required>
        <option value="">Select</option>
        {{#select record.categoryId}}
        {{#each category}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
  <div class="form-group row mb-5 align-items-center">
    <label for="amount" class="col-sm-2 col-form-label fw-bold fs-4">金額*:</label>
    <div class="col-sm-10">
      <input type="number" name="amount" id="amount" class="form-control" placeholder="" value="{{record.amount}}">
    </div>
  </div>
  <div class="form-group row mb-5 align-items-center">
    <label for="button" class="col-sm-2 col-form-label fw-bold fs-4"></label>
    <div class="col-sm-10">
      <button type="submit" class="form-control btn btn-outline-dark mb-3 fw-bold fs-4">送出</button>
    </div>
  </div>
</form>