{{!-- index.hbs --}}
<div class="row justify-content-center">
  <div class="row col-6 justify-content-center">
    <form action="/:category" method="get">
      <select class="form-select mb-5 w-75" name="category" id="category">
        <option selected>類別</option>
        {{#select selected}}
        {{#each category}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="row col-6 justify-content-center">
    <div class="d-flex flex-row">
      <h5 class="fw-bold">總金額:</h5>
      <h1 class="display-1 fw-bold" style="color:rgb(233, 128, 16)">{{totalAmount}}</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="row col-6 justify-content-center">
    <table class="table table-striped ">
      {{#each records}}
      <tr class="d-flex flex-row">
        <td class="py-auto">
          <i class="{{this.icon}} fa-3x" style="color:rgb(137, 213, 230)"></i>
        </td>
        <td class="pe-5">
          <p class="fs-4 fw-bold mb-0">{{this.name}}</p>
          <p class="mb-0 fw-bold" style="font-size:x-small">{{this.date}}</p>
        </td>
        <td class="ps-5">
          <p class="fs-5 fw-bold mb-0 align-middle mx-3">{{this.amount}}</p>
        </td>
        <td>
          <a class="btn fw-bold fs-5" href="/edit/:{{this._id}}">修改</a>
        </td>
        <td>
          <form action="./{{ this._id }}?_method=DELETE" method="POST">
            <button class="btn fw-bold fs-5" type="submit">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6 text-center">
    <a href="/new" class="btn btn-dark mt-4 px-5 text-nowrap" style="background-color:rgb(233, 128, 16)">新增支出</a>
  </div>
</div>